{% extends 'base.html' %}
{% block body %}

    <div>
        <a class="button" href="{{ url_for('create_organization') }}">Create Organization</a>
        <a class="button" href="{{ url_for('create_sensor') }}">Create Sensor</a>
    </div>


    <h1>{% block title %}SC Data{% endblock %}</h1>

    <h2>Organizations</h2>
    <ul>
      {% for org in organizations %}
        <li><strong>ID:</strong> {{ org.id }} </li>
        <li><strong>Name:</strong> {{ org.name }}</li>
        <li><strong>Contact Details:</strong> {{ org.contact_details }}</li>
        <li><strong>Public Key:</strong> {{ org.public_key }}</li>
        <li>&nbsp;</li>
      {% endfor %}
    </ul>
  
    <h2>Sensors</h2>
    <ul>
      {% for sensor in sensors %}
        <li><strong>ID:</strong> {{ sensor.id }}</li>
        <li><strong>Sensor Type:</strong> {{ sensor.sensor_type }}</li>
        <li><strong>Location:</strong> {{ sensor.location }}</li>
        <li><strong>Organization ID:</strong> {{ sensor.org_id }}</li>
        <li>&nbsp;</li>
      {% endfor %}
    </ul>
  
    <h2>Temperature Readings</h2>
    <ul>
      {% for reading in sensor_data %}
        <li><strong>ID:</strong> {{ reading.id }}</li>
        <li><strong>Sensor ID:</strong> {{ reading.sensor_id }}</li>
        <li><strong>Timestamp:</strong> {{ reading.timestamp }}</li>
        <li><strong>Temperature:</strong> {{ reading.temperature_reading }}</li>
        <li><strong>Signed Data:</strong> {{ reading.signed_data }}</li>
        <li>&nbsp;</li>
      {% endfor %}
    </ul>
  {% endblock %}