<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8:>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block head %}{% endblock %} - FlaskApp</title> 
</head>
<body>
    <nav>
        <a href="{{ url_for('index')}}"> Home</a>
        <a href="{{ url_for('create_identity_page')}}"> Create Identity Claim</a>
        <a href="#"> Create Declaration</a>
    </nav>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>